.guide {
  .container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #343a40;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 5px 10px;

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5) {
        width: 12%;
      }
    }
    th {
      background: #111;
      color: #fff;
    }
    td {
      border-bottom: 1px solid #eee;

      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8),
      &:nth-of-type(9),
      &:nth-of-type(10) {
        text-align: center;
      }
    }
  }
}
